*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    border: 2px solid navajowhite;
    height: 100vh;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    border: 6px solid black;
    border-radius: 30px;
    border: none;
    height: 450px;
    width: 55%;
   box-shadow: rgba(50, 50, 93, 0.948) 0px 13px 27px -5px, rgba(0, 0, 0, 0.956) 0px 8px 16px -8px;
    
}

.slide{
   
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: 0.5s;
}

nav button{
    margin-top: 10px;
    height: 40px;
    width: 100px;
}



